.button {
		color:white;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		padding: 12px;
		background-color: #C0D72F;
		border: none;
		border-radius: 8px;
		transition: 0.3s;
		text-align: center;
	}
	
.button:hover {
		background-color: #CCCC00;
		transition: 0.3s;
}

.button__contact {
	color: #2F302E;
	text-align: center;
	transition: 0.3s;
}

.button__contact:hover {
	color: #00A84F;
	transition: 0.3s;
}