.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container--register {
    width: 210px;
    margin: 0 auto;
    padding-top: 30px;
}

.container--cart {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container--admin {
    max-width: 300px;
    margin-right: 30px;
}

.line {
    margin: 0 auto;
    width: 100px;
    border-top: 2px solid #006F3C;
}

.columns {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.column {
    padding-right: 20px;
}

.is-six {
    width: 550px;
}

.is-three {
    margin-top: 20px;
    width: 296px;
}

.title {
    text-align: center;
    color: #006F3C;
}

.administration {
    display: flex;
    flex-wrap: wrap;
}