.footer {
	width: 100%;
	height: 200px;
	margin-top: 40px;
	border-top: 1px solid #EBF2EC;
}
.footer__container {
	height: 200px;
	display: flex;
	justify-content: space-around;
}

.footer__image {
	width: 200px;
	height: 100px;
	align-self: center;
}

.footer__contact {
	align-self: center;
	display: flex;
	flex-direction: column;
}

.footer__title {
	color: #006F3C;
	margin-bottom: 20px;
}