.form {
    margin-bottom: 10px;
}

.form-cart {
    margin: 20px auto;
}

.form-admin {
    display: flex;
    flex-direction: column;
}

.form__field {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    min-height: 30px;
    max-width: 300px;
    padding-left: 10px;
}

.form__button {
    width: 64px;
}