.h-center {
	margin: 0 auto;
}

.h-text-center {
	text-align: center;
}

.h-align-center {
	align-self: center;
}

.h-responsive-image {
	width: 100%;
	height: auto;
}

.h-wrap {
	flex-wrap: wrap;
}

.h-full-width {
	width: 100%;
}