* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.header {
	position: sticky;
	top: 0;
	z-index: 500;
	width: 100vw;
	text-transform: uppercase;
	background-color: #00A84F;
}

.header__container {
	margin: 0 auto;
	max-width: 1100px;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	width: 54px;
	height: 54px;
}

.nav {
	display: flex;
  align-items: center;
}

.nav__item {
	display: inline-block;
	margin-right: 20px;
}

.nav__link {
	color: white;
	font-family: 'Open Sans', sans-serif; 
	font-size: 12px;
	transition: 0.3s;
}

.nav__link:hover {
	color: #C0D72F;
	transition: 0.3s;
}

.header__button {
	color:white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 10px;
	padding: 12px;
	background-color: #C0D72F;
	text-align: center;
	border: none;
	border-radius: 8px;
	transition: 0.3s;
}

.header__button:hover {
	background-color: #CCCC00;
	transition: 0.3s;
}